useDynLib(condSURV)
importFrom("foreach", "%dopar%", "%do%")
importFrom("foreach", foreach)
importFrom("doRNG", "%dorng%")
importFrom("parallel", detectCores)
importFrom("doParallel", registerDoParallel, stopImplicitCluster)
importFrom("KernSmooth", dpik)
importFrom("np", npudensbw)
importFrom("graphics", plot, legend, lines)
importFrom("stats", binomial, fitted, glm, na.omit, quantile, terms)
importFrom("survival", survfit, Surv)
export(KM, PKM)
export(KMW, PKMW)
export(Beran, NWW, LLW)
export(plot.surv)
export(survCOND)
export(survCS)
export(summary.surv)
export(print.surv)
S3method(plot, surv)
S3method(print, surv)
S3method(summary, surv)

