useDynLib(condSURV, .registration = TRUE)
importFrom("foreach", "%dopar%", "%do%")
importFrom("foreach", foreach)
importFrom("doRNG", "%dorng%")
importFrom("parallel", detectCores)
importFrom("doParallel", registerDoParallel, stopImplicitCluster)
importFrom("KernSmooth", dpik)
importFrom("np", npudensbw)
importFrom("graphics", plot, legend, lines)
importFrom("stats", binomial, fitted, glm, na.omit, quantile, terms)
importFrom("survival", survfit, Surv)
export(KM, PKM)
export(KMW, PKMW)
export(Beran, NWW, LLW)
export(survCOND)
export(survCS)
export(plot.survCS)
export(summary.survCS)
export(print.survCS)
S3method(plot, survCS)
S3method(print, survCS)
S3method(summary, survCS)

